<%= stylesheet_link_tag "zTreeStyle/zTreeStyle","admins/sys_sortconfig" %>
<div class="zTreeDemoBackground left">
	<ul id="treeDemo" class="ztree"></ul>
</div>
<%= javascript_include_tag "jquery.ztree.all-3.5.min","admins/sys_sortconfig"%>