<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1 user-scalable=no">
    <%= stylesheet_link_tag "jqmobi/all" %>
    <%= javascript_include_tag "jqmobi/all" %>
    

    <script>
        if (!((window.DocumentTouch && document instanceof DocumentTouch) || 'ontouchstart' in window)) {
            var script = document.createElement("script");
            script.src = "/assets/jqmobi/plugins/af.desktopBrowsers.js";
            var tag = $("head").append(script);
        }
    </script>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>

