<h1>编辑用户 <%= link_to '返回', { :controller => params[:controller_name], :action => "index" ,:sort_id=>params[:sort_id], :page => params[:page]} ,:class =>"btn btn-primary"%></h1>
<hr/>
<%= render 'form' %>

