<!DOCTYPE html>
<html>
<head>
	<title>test</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<%= stylesheet_link_tag "tree", "sortable_tree", "nested_options"%>

	<%= javascript_include_tag "jquery","jquery-ui","jquery_ujs","jquery.ui.nestedSortable","sortable_tree/initializer" %>
</head>
<body>

<%= yield %>


</body>
</html>