<!DOCTYPE html>
<html>
<head>
  <title>宜云在线开发工具</title>
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <%= stylesheet_link_tag "bootstrap"%>
  <%= javascript_include_tag "jquery"  %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= yield %>
</body>
</html>
