<!DOCTYPE html>
<html>
<head>
  <title>康复助手 | 住院、康复 必备神器</title>
  <meta name="viewport" content="width=device-width, initial-scale=0.8, user-scalable=no">
  <script src="http://libs.baidu.com/zepto/0.8/zepto.min.js"></script>
  <!-- <script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script> -->
  <link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
  <%= csrf_meta_tags %>
</head>
<body>
  <%= yield %>
</body>
</html>
