<!DOCTYPE html>
<html>
<head>
  <title>医师定期考核培训</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <link href="http://v2.bootcss.com/assets/css/bootstrap.css" rel="stylesheet">
  <link href="http://cdn.bootcss.com/iCheck/1.0.1/skins/square/blue.css" rel="stylesheet">
  <%= stylesheet_link_tag "yixue"%>
</head>
<body>

<%= yield %>

<!-- <script src="http://libs.baidu.com/zepto/0.8/zepto.min.js"></script> -->
<script src="http://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/iCheck/1.0.1/icheck.min.js"></script>
<%= javascript_include_tag "yixue" %>
</body>
</html>